/*
 * Copyright (c) 2020 duckyb
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        tab_esc_ctrl: tab_esc_ctrl {
            compatible = "zmk,behavior-tap-dance";
            label = "TAB_ESC_CTRL";
            #binding-cells = <0>;
            bindings = <&mt LCTRL ESC>, <&kp TAB>;
        };

        gqt: global-quick-tap {
            compatible = "zmk,behavior-hold-tap";
            label = "GLOBAL_QUICK_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            quick-tap-ms = <180>;
            tapping-term-ms = <200>;
            global-quick-tap;
            flavor = "tap-preferred";
        };

        ltq: ltq {
            compatible = "zmk,behavior-hold-tap";
            label = "LTQ";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            global-quick-tap;
            tapping-term-ms = <200>;
            quick-tap-ms = <180>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            label = "Base";
            bindings = <
&kp Q  &kp W  &kp E       &kp R  &kp T                     &kp Y            &kp U  &kp I      &kp O    &kp P
&kp A  &kp S  &kp D       &kp F  &mt LEFT_GUI G            &mt RIGHT_GUI H  &kp J  &kp K      &kp L    &kp SEMICOLON
&kp Z  &kp X  &kp C       &kp V  &mt LEFT_ALT B            &mt RIGHT_ALT N  &kp M  &kp COMMA  &kp DOT  &kp RIGHT_SHIFT
              &kp C_MUTE  &mo 1  &mt LEFT_CONTROL SPACE    &kp ENTER        &mo 2  &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp UP DOWN>;
        };

        functional {
            label = "FUNCTIONAL";
            bindings = <
&kp ESCAPE  &kp N2     &kp N3    &kp N4     &kp N5          &kp N6            &kp N7     &kp N8     &kp N9    &kp N0
&kp EQUAL   &kp MINUS  &kp UP    &kp GT     &kp LEFT_GUI    &kp RIGHT_GUI     &kp BSPC   &kp COMMA  &kp SQT   &kp BACKSLASH
&kp GRAVE   &kp LEFT   &kp DOWN  &kp RIGHT  &kp LEFT_ALT    &kp RIGHT_ALT     &kp SLASH  &kp LBKT   &kp RBKT  &kp RIGHT_SHIFT
                       &trans    &trans     &kp SPACE       &kp LEFT_CONTROL  &kp TAB    &to 0
            >;

            sensor-bindings = <&inc_dec_kp C_BRI_UP C_BRI_DN &inc_dec_kp RIGHT LEFT>;
        };

        number {
            label = "NUMBER";
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp EQUAL     &kp MINUS        &kp BACKSPACE
&kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp LEFT_BRACE        &kp RIGHT_BRACE          &kp LEFT_ARROW    &kp DOWN_ARROW     &kp UP_ARROW  &kp RIGHT_ARROW  &trans
&kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0          &kp GRAVE                &kp PLUS          &kp UNDERSCORE     &kp FSLH      &kp BACKSLASH    &trans
                            &trans        &kp LALT              &trans                   &trans            &trans             &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp RIGHT LEFT>;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
